*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}


.login{
    font-size: 30px;
    text-align: center;
    padding-top: 250px;
}
.username{
    color: blue;
}
.password{
    color: blue;
    padding-top: 20px ;
}
 input {
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

button{

    margin-top: 20px;
    border-radius: 20px;
}


.message{

    padding-top: 30px;
}