/* .App{

    text-align: center;
    
}

.star{

    font-size: 40px;
}

button{
    background-color: rgb(173, 36, 214);
    border: none;
    outline: none;
    cursor: pointer;
}

.on{

    color: rgb(252, 248, 13);
}

.off{

    color: white;
} */