/* .student table{
    width: 300px;
    padding:1px;
}

.student table td , .student table th {
    text-align:left;
    border: 1px solid black;
    padding: 5px;
}

table{
    margin: 20px;

}

.student table th {
    width: 250px;
}

.student table td {
    width: 200px;
    text-align: center;
}
 */